<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
        <select class="form-select" name="select" aria-label="Default select example">
            <option selected disabled hidden>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="textarea" class="form-label">Example textarea</label>
        <textarea class="form-control" name="textarea" id="textarea" rows="3"></textarea>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" name="check" class="form-check-input" id="check">
        <label class="form-check-label" for="check">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
