{% load static %}
<nav class="navbar smart-scroll sticky-top navbar-dark">
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <a class="nav-link" id="hjem" href="/">Hjem</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" id="test1" href="/test1">Test1</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" id="resultater" href="/resultater">Resultater</a>
        </li>
        <li class="list-inline-item">
            <a class="nav-link" id="registrerKamp" href="/registrerKamp">Registrer Kamp</a>
        </li>
    </ul>
</nav>
